<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Stylesheet compiled with Bootstrap and custom changes. Use path relative to /public, not /views-->
    <link rel="stylesheet" href="/stylesheets/css/style.css">
    <title>Community</title>
</head>
<body>
    <main>
        <section class="bg-primary">
            <h1>Community</h1>
            <p lead>Welcome. We're glad you're here.</p>
            <p>Please write your thoughts to share with fellow readers and also read comments left by others.</p>

            <h2>Comments</h2>
            <ul class="comments">
                <% for (let i = 0; i < comments.length; i++) {%>
                    <li class="comment">
                        <span><%= comments[i].name %></span>
                        <p><%= comments[i].comment %></p>
                    </li>
                <% } %>
            </ul>
        </section>
        <section>
            <div class="container">
                <form action="/community" method="POST">
                    <fieldset>
                        <legend>Leave a Comment</legend>

                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="name" id="nameInput" placeholder="Jane Doe" required>
                            <label for="nameInput">Name</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" name="email" id="emailInput" placeholder="example@example.com">
                            <label for="emailInput">Email address</label>
                        </div>
                        <div class="form-floating mb-3"> 
                            <textarea class="form-control" placeholder="Leave a comment here" id="commentInput" name="comment" style="height: 100px" required></textarea>
                            <label for="commentInput">Comments</label>
                        </div>
                        <div class="form-check mb-3">
                            <input class="form-check-input" type="checkbox" id="notify-me-input" name="notifyMe">
                            <label class="form-check-label" for="notify-me-input">
                                Notify me of new replies to this post by email. 
                            </label>
                        </div>
                        <button class="btn btn-primary" id="submit-comment-btn">Submit</button>
                    </fieldset>
                </form>
            </div>
        </section>
    </main>
    <script src="/js/main.js"></script>
</body>
</html>