<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Stylesheet compiled with Bootstrap and custom changes. Use path relative to /public, not /views-->
    <link rel="stylesheet" href="/stylesheets/css/style.css">
    <title>Home | Quaker Thomas Kelly</title>
</head>
<body>
    <main>
        <nav class="navbar-expand-md bg-dark py-3 fixed-top">
            <div class="container"></div>
        </nav>
        <h1>Welcome</h1>
    </main>

    <script src="/main.js"></script>
</body>
</html>